package components

css footerFooterStyle() {
	padding: 16px;
	font-size: 16px;
}

type FooterProps struct {
	Copyright  string
	Attributes templ.Attributes
}

templ Footer(props FooterProps) {
	<footer
		class={ footerFooterStyle() }
		{ props.Attributes... }
	>
		&copy; { props.Copyright }
	</footer>
}
