package components

css footerFooterStyle() {
	padding: 16px;
	font-size: 16px;
}

type FooterProps struct {
	Copyright string
}

templ Footer(props FooterProps) {
	<footer class={ footerFooterStyle() } data-testid="footer-component">
		&copy; { props.Copyright }
	</footer>
}
