package components

css mainMainStyle() {
	display: grid;
	grid-auto-flow: rows;
	gap: 16px;
	text-align: left;
	padding: 16px;
}

type MainProps struct {
	Count int
	HandlePostPath string
}

templ Main(props MainProps) {
	<main class={ mainMainStyle() } data-testid="main-component">
		<h2>
			index page content
		</h2>
		@LitCounter()
		@SimpleCounter(
			SimpleCounterProps{
				Count: props.Count,
				HandlePostPath: props.HandlePostPath,
			},
		)
	</main>
}
