package components

css mainMainStyle() {
	display: grid;
	grid-auto-flow: rows;
	gap: 16px;
	text-align: left;
	padding: 16px;
}

templ Main(count int, handlePostPath string) {
	<main class={ mainMainStyle() } data-testid="main-component">
		<h2>
			index page content
		</h2>
		@LitCounter()
		@SimpleCounter(count, handlePostPath)
	</main>
}
