package components

css sideMenuMenuStyle() {
	margin: 0px;
	padding: 16px;
}

css sideMenuULStyle() {
	display: grid;
	gap: 16px;
	aligh-content: start;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

templ SideMenu(items ...templ.Component) {
	<menu class={ sideMenuMenuStyle() } data-testid="side-menu-component">
		<ul class={ sideMenuULStyle() }>
			for _, item := range items {
				<li>
					@item
				</li>
			}
		</ul>
	</menu>
}
